.vs/
FastFood.Models/obj/
FastFood.Reposiory/obj/
FastFood.Services/obj/
FastFood.Web/obj/".vs/" 
"FastFood.Models/obj/" 
"FastFood.Reposiory/obj/" 
"FastFood.Services/obj/" 
"FastFood.Web/obj/" 
"FastFood.Models/bin/" 
"FastFood.Reposiory/bin/" 
"FastFood.Web/bin/" 
FastFood.Models/bin/
FastFood.Reposiory/bin/
FastFood.Web/bin/
FastFood.Web/obj/